<div data-ng-if="$ctrl.person">

    <br/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-inline person-comments-filter">
                <strong>Display: </strong>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="$ctrl.showJira" /> Jira comments</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="$ctrl.showFecru"/> Fecru comments</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="$ctrl.showGit"/> Git commits (might be slow)</label>
                </div>
                <br/>
                <div class="form-group">
                    <label for="period">For the last:</label>
                    <input type="number" min="1" id="period" class="form-control" ng-model="$ctrl.period" />
                    {{ period > 1 ? 'days (including today)' : 'day (today)' }}
                    <button class="btn btn-primary" ng-click="$ctrl.fromDate = $ctrl.getFromDate($ctrl.period)">Show</button>
                </div>
            </div>
        </div>
    </div>

    <div class="comments-block" ng-if="$ctrl.showJira">
        <h3>Latest Jira comments</h3>
        <div data-person-jira-comments
             data-jira-base-url="'https://jira.symmetrics.de'"
             data-username="$ctrl.person.name" data-from-date="$ctrl.fromDate"></div>
    </div>

    <div class="comments-block" ng-if="$ctrl.showFecru">
        <h3>Latest Fecru comments</h3>
        <div data-person-fecru-comments
             data-fecru-base-url="'https://fecru.symmetrics.de'"
             data-username="$ctrl.person.name" data-from-date="$ctrl.fromDate"></div>
    </div>

    <!-- todo: MP-CR-287 is not shown in list for 200n days -->
    <!-- todo: check replies in comments also -->
    <div class="comments-block" ng-if="$ctrl.showGit">
        <h3>Latest Git commits</h3>
        <div data-person-git-commits
             data-gitlab-base-url="'https://gitlab.symmetrics.de'"
             data-username="$ctrl.person.name" data-from-date="$ctrl.fromDate"></div>
    </div>
</div>
