<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" xng-bind-html="title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" xng-bind-html="message"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="onConfirm()">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        ng-if="mode === 'confirm'"
                        ng-click="onCancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>