{
    "ENV": "development",

    "CLIENT_ORIGIN": "http://localhost:3000",

    "SESSION_SECRET": "",

    "MONGO_URL": "mongodb://localhost:27017/example_db",

    "JIRA_URL": "https://jira.example.com",
    "JIRA_API_VERSION": "latest",
    "JIRA_AUTH_VERSION": "latest",
    "JIRA_API_PROXY_USE_STRICT_SSL": "no",
    "JIRA_API_PROXY_DEBUG_MODE": "no",

    "JIRA_OAUTH_CONSUMER_KEY": "",
    "JIRA_OAUTH_CONSUMER_SECRET_PATH": "/path/to/jira.pem",

    "FECRU_URL": "https://fecru.example.com",
    "FECRU_API_VERSION": "latest",
    "FECRU_API_PROXY_USE_STRICT_SSL": "no",
    "FECRU_API_PROXY_DEBUG_MODE": "no",

    "GITLAB_URL": "https://gitlab.example.com",
    "GITLAB_API_VERSION": "v3",
    "GITLAB_API_PROXY_USE_STRICT_SSL": "no",
    "GITLAB_API_PROXY_DEBUG_MODE": "no"
}