body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.user-comment {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.comments-block {
    width: 50%;
    float: left;
    padding: 10px 20px;
    box-sizing: border-box;
}
#period {
    width: 40px;
    margin-left: 5px;
}
#show {
    margin-left: 15px;
}