<button type="button" class="btn btn-primary"
        ng-hide="$ctrl.showForm"
        ng-click="$ctrl.showForm = true">Login with Fecru</button>

<div class="alt-auth-form-container" ng-show="$ctrl.showForm">

    <form class="form-signin"
          ng-submit="$ctrl.login()">
        <p class="alert alert-danger" data-ng-if="$ctrl.errorMessage">{{ $ctrl.errorMessage }}</p>
        <label class="sr-only">Username</label>
        <input type="text" class="form-control" data-ng-model="$ctrl.username"
               placeholder="Username" required autofocus>
        <label class="sr-only">Password</label>
        <input type="password" class="form-control" data-ng-model="$ctrl.password"
               placeholder="Password" required>
        <button class="btn btn-primary btn-block" type="submit">Login with Fecru</button>
    </form>

    <span class="fa fa-remove close-button" aria-hidden="true" data-ng-click="$ctrl.showForm = false"></span>
</div>