<div class="container">

    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="active">
            <span loading-indicator data-flag="!project" data-type="inline"></span>
            {{ project.name }}
        </li>
    </ol>

    <div ng-show="project">
        <h3>{{ project.name }}</h3>

        <div class="row">
            <div class="col-md-6">
                <canvas class="chart chart-line"
                        chart-data="chart.data"
                        chart-labels="chart.labels"
                        chart-series="chart.series"
                        chart-options="chart.options"></canvas>
            </div>
        </div>


    </div>
    <div loading-indicator data-flag="!project" data-type="big"></div>
</div>
