extends ../layout

block content
    h1= title
    ul
        li
            a(href='/users/max.gopey') Max Gopey
        li
            a(href='/users/aleksandr.galych') Aleksandr Galych
        li
            a(href='/users/aleksandr.kovalenko') Aleksandr Kovalenko
