<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
            <li class="breadcrumb-item active">People</li>
        </ol>
    </nav>

    <h1>People</h1>

    <ul class="list-unstyled">
        <li class="media mt-3" ng-repeat="person in $ctrl.people | filter:filter">
            <img class="mr-3" src=""
                 alt="{{ person.displayName }}"
                 data-ng-src="{{ person.avatar }}">
            <div class="media-body">
                <h4 class="mt-0 mb-1">
                    <a ui-sref="person.overview({ username: person.username })">{{ person.full_name }}</a>
                </h4>
            </div>
        </li>
    </ul>

    <div data-ng-if="!$ctrl.people">
        <p>Unfortunately no people are there yet.</p>
    </div>

    <import-people-from-jira></import-people-from-jira>
</div>