<div class="container">
    <div data-ng-if="$ctrl.person">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="" alt="{{ $ctrl.person.displayName }}"
                     data-ng-src="{{ $ctrl.person.avatarUrls['48x48'] }}">
            </div>
            <div class="media-body">
                <h1 class="media-heading">{{ $ctrl.person.displayName }}</h1>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" ui-sref-active="active"><a ui-sref="person.overview">Overview</a></li>
        <li role="presentation" ui-sref-active="active"><a ui-sref="person.activity">Activity</a></li>
    </ul>

    <ui-view></ui-view>
</div>